<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    
    <add name="DB_A46585_mayuri898ConnectionString" connectionString="Data Source=DESKTOP-17UFOA8\SQLEXPRESS;Initial Catalog=myapp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>